html 
{
  background-color: #222831;
  margin: 0px;
  padding: 0px;
  margin: 1px;
  padding: 5px;
}
#container
{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
 }
#menu
{
  display: flex;
  flex-direction:column;
  gap: 1rem;
  grid-row: span 3;
}
#item
{
  width: auto;
  margin-left: 0.5rem;
  border-radius: 0.2rem;
  background-color: #00ADB5;
  text-align: center;
  text-decoration: none;
  color: #222831;
}
#cart
{
  background-color: rgb(128, 0, 96);
  height: 40vh;
  grid-column: span 2;
  border: #00ADB5 0.1 solid;
  border-radius: 5rem;
}
#header
{
  color:#00ADB5;
  height: 10vh;
  grid-column: span 2;
  border: #00ADB5 0.1rem solid;
  border-radius: 5rem;
}
#footer
{
  color:#00ADB5;
  height: 10vh;
  grid-column: span 2;
  border: #00ADB5 0.1rem solid;
  border-radius: 5rem;
}