body 
{
  background-color: #222831;
  margin: 0px;
  padding: 0px;
}
#container
{
  border: 0.1rem double #00ADB5;
  border-radius: 1rem;
  height: 100vh;
}
#menu
{
  display: flexbox;
  width: 20%;
  border: 0.1rem double #00ADB5;
  border-radius: 1rem;
  height: 96vh;
  flex-direction:column;
  gap: 0.5rem;
}
#item
{
  margin: 0.5rem;
  border-radius: 0.2rem;
  background-color: #00ADB5;
  text-align: center;
  text-decoration: none;
  color: #222831;
}
#cart
{
  width: 80%;
  color: #00ADB5;
}