html 
{
  background-color: #222831;
  margin: 0px;
  padding: 0px;
  margin: 1px;
  padding: 5px;
}
#container
{
  display: grid;
  border: 0.1rem double #00ADB5;
  border-radius: 1rem;
  height: 96vh;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
}
#menu
{
  display: flex;
  height: 100vh;
  flex-direction:column;
  gap: 0.5rem;
  grid-row: span 3;
}
#item
{
  width: auto;
  margin: 0.5rem;
  border-radius: 0.2rem;
  background-color: #00ADB5;
  text-align: center;
  text-decoration: none;
  color: #222831;
}
#cart
{
  background-color: green;
  border: #00ADB5 0.1 solid;
}
#header
{
  background-color: red;
  grid-column: span 2;
  border: #00ADB5 0.1 solid;
  border-radius: 5rem;
}
#footer
{
  background-color: blue;
  grid-column: span 2;
  border: #00ADB5 0.1 solid;
  border-radius: 5rem;
}